.cardButton {
	border-radius: 7px;
	border: 1px solid #f2f2f2;
	background: #fff;
	width: 32px;
	height: 32px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.4s;
	&:hover {
		transition: all 0.4s;
		background: #fef0f0;
	}
}
