* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #e7f6ff;
	padding: 85px 0;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}
h2 {
	color: #000;
	font-size: 32px;
	font-weight: 700;
	line-height: 38.73px;
	margin-bottom: 30px;
}
.container {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
	max-width: 1080px !important;
	padding: 43px 0;
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.swiper-button-prev,
.swiper-button-next {
	border-radius: 43px;
	background: white;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
	width: 35px !important;
	height: 35px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 15px !important;
	color: #c8c8c8;
}

.swiper-button-prev {
	left: -12px !important;
}
.swiper-button-next {
	right: -12px !important;
}

.swiper {
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
}
.swiper img {
	border-radius: 10px;
}
